@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic')

/*** GLOBAL STYLES ***/
html
  font-size: 62.5%
  @media screen and (max-width: 768px)
    font-size: 40%

body
  font-family: 'Roboto', Arial, sans-serif
  margin: 0
  padding: 0
  font-size: 1.6rem
  line-height: 3rem
  position: relative
  overflow-x: hidden

[v-cloak]
  display: none

h1, h2, h3
  margin: 0
  padding: 0

ul, ol
  padding: 0
  margin: 0
  list-style-type: none

.form
  padding: 2rem 0
  input
    margin: 0
    padding: 0
    border: 1px solid gray
    font-size: 1.6rem
    margin-right: 1rem

/*** ITEMS ***/
.town-item-body
  background-color: #eeeeee
  padding: 1rem .6rem
  margin-top: 2rem
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)

.town-item-body_prop
  font-size: 1.4rem
  &:first-of-type
    font-size: inherit
    font-weight: bold

.town-item-body_updated
  font-size: 1rem
  text-align: right

/*** BUTTONS ***/
.btn
  background-color: gray
  -webkit-border-radius:
  -moz-border-radius:
  border-radius: 0
  padding: .4rem
  color: rgba(255, 255, 255, .87)
  &:hover
    background-color: darken(gray, 20)

.btn--delete
  background-color: red
  opacity: .47
  &:hover
    background-color: red
    opacity: 1
