<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VueWeatherApp</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <!-- Favicons End -->



        <link rel="stylesheet" href="css/style.min.css">


    <!-- Custom Browsers Color Start -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <!-- Custom Browsers Color End -->
</head>
<body>

<div id="app" v-cloak>
    <div class="row">

        <div class="small-12 medium-12 column">
            <form action="" class="form" v-on:submit.prevent="getWeatherByTownName">
                <input v-model="townName" class="input" placeholder="Введите название города" type="text">
                <button type="submit" class="btn">Добавить город</button>
            </form>
        </div>

        <div class="small-12 medium-12 columns">
            <div class="row">
                <div class="small-12 medium-3 column">
                    <div class="weather-box town-item" v-if="currentWeatherItem">
                        <h1>Текущая погода</h1>
                        <div class="current-weather-body town-item-body">
                            <div class="town-item-body_prop">{{currentWeatherItem.name}}</div>
                            <div class="town-item-body_prop"><span>Температура: </span>{{currentWeatherItem.main.temp | deg}}</div>

                            <div class="town-item-body_updated">Обновлено: {{currentWeatherItem.lastUpdate |readeableDate}}</div>
                            <div class="town-item-body_footer">
                                <button class="btn btn--refresh" @click="updateWeatherItem(currentWeatherItem)">Обновить</button>
                            </div>

                        </div>
                    </div>
                </div>

                    <div class="small-12 medium-9 columns">
                        <div class="weather-box" v-if="historyWeather">
                            <h1>Ваши города</h1>
                            <div class="town-list">
                                <div class="row">
                                    <div class="town-item small-6 medium-3 column" v-for="item in historyWeather">
                                        <div class="town-item-body">
                                            <div class="town-item-body_prop">{{item.name}}</div>
                                            <div class="town-item-body_prop"><span>Температура: </span>{{item.main.temp | deg}}</div>
                                            <div class="town-item-body_updated">Обновлено: {{item.lastUpdate |readeableDate}}</div>
                                            <div class="town-item-body_footer">
                                            <button class="btn btn--refresh" @click="updateWeatherItem(item)">Обновить</button> <button class="btn btn--delete" @click="removeWeatherItem(item)">Удалить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<time-checker></time-checker>-->
                            </div>
                        </div>
                    </div>
        </div>
        </div>
    </div>

    <modal v-if="showModal" @close="showModal = false" :message.sync="message"></modal>
</div>


<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal" >
        <div class="modal-mask" @click.prevent="$emit('close')">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-body">
                        <slot name="body" >
                            {{message}}
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">

                            <button class="btn" >
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>